backgroud-color
{
    color: #343434;
}
img
{
    height: 100px;
    width: 100px;
    margin-left: 50%;


}
header
{
    color: #ffc045;
    height: 100xp;
    width: 100%;
    display: inline-block;
}